#modal {
  transform: translate3d(100%, 0, 0);

  &.slideInRight {
    animation-name: slideInRight;
    animation-duration: 0.45s;

    animation-fill-mode: both;
  }

  &.slideOutRight {
    animation-name: slideOutRight;
    animation-duration: 0.45s;

    animation-fill-mode: both;
  }

  .modal-dialog {
    width: 400px;

    .modify-image {
      .btn {
        transition: all 0.2s ease;

        &.btn-update {
          &:hover {
            background-color: rgba(23, 162, 184, 0.08);
          }
        }

        &.btn-remove {
          &:hover {
            background-color: rgba(108, 117, 125, 0.08);
          }
        }
      }
    }

    .form {
      .bv-no-focus-ring {
        position: relative;

        .dollar {
          top: 9px;
          padding: 0 0.8rem;
          height: 15px;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          line-height: 15px;
        }

        .form-control {
          &.hasDollar {
            text-indent: 32px;
          }
        }
      }
    }
  }

  @keyframes slideInRight {
    0% {
      visibility: visible;
      transform: translate3d(100%, 0, 0);
    }

    to {
      transform: translateZ(0);
    }
  }

  @keyframes slideOutRight {
    0% {
      transform: translateZ(0);
    }

    to {
      visibility: hidden;
      transform: translate3d(100%, 0, 0);
    }
  }
}
