/* LAYOUT */
/* Top / Right / Bottom / Left */
.top-0 {
  top: 0;
}

.top-half {
  top: 50%;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.left-half {
  left: 50%;
}

/* Z-Index */
.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

/* TYPOGRAPHY */
/* List Style Type */
.list-none {
  list-style-type: none;
}

/* Font Size */
.text-sm {
  font-size: 0.875rem !important;
}

.text-base {
  font-size: 1rem !important;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

/* Letter Spacing */
.tracking-wide {
  letter-spacing: 0.025em;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

/* Text Color */
/* .text-red {
  color: #e45649;
} */

.text-brown {
  color: #986801;
}

.text-dark-green {
  color: #50a14f;
}

.text-black {
  color: #000;
}

.text-dark-gray {
  color: #757575;
}

.text-teal {
  color: #b8d8d8;
}

.text-green {
  color: #d5e5a3;
}

.text-orange {
  color: #ff8f5d;
}

.text-yellow {
  color: #d6c1ab;
}

/* BACKGROUNDS */
/* Background Color */
.bg-gray {
  background-color: #eee;
}

/* BORDERS */
/* Border Radius */
.rounded-xl {
  border-radius: 0.5rem !important;
}

/* TRANSFORMS */
/* Scale */
.scale-55 {
  transform: scale(0.55);
}

/* INTERACTIVITY */
/* Outline */
.outline-none {
  outline: none !important;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}
