/* Height */
.h-screen {
  height: 100vh;
}

/* Top / Right / Bottom / Left */
.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

/* Z-Index */
.z-10 {
  z-index: 10;
}

/* Font Size */
.text-sm {
  font-size: 0.875rem !important;
}

.text-base {
  font-size: 1rem !important;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

/* Letter Spacing */
.tracking-wide {
  letter-spacing: 0.025em;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

/* Text Color */
.text-black {
  color: #000;
}

.text-dark-gray {
  color: #757575;
}

/* Border Color */
.border-black {
  border-color: rgb(34, 34, 34);
}

/* Border Radius */
.rounded-xl {
  border-radius: 0.5rem !important;
}

/* Rotate */
.rotate-180 {
  transform: rotate(180deg);
}

/* Translate */
.-translate-x-half {
  transform: translateX(-50%);
}

/* Scale */
.scale-55 {
  transform: scale(0.55);
}

.scale-65 {
  transform: scale(0.65);
}

/* Z-Index */
.z-50 {
  z-index: 50;
}

/* Top / Right / Bottom / Left */
.top-half {
  top: 50%;
}

.left-half {
  left: 50%;
}

.outline-none {
  outline: none !important;
}

/* Border Radius */
.rounded-xl {
  border-radius: 0.5rem;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}
